/*
Author: Group 8
File Name: style.css
*/

body, header, nav, main, h1, footer {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Style rules for header content */

header {
  top: 0;
  background-color: #006448;
  padding-left: 10px;
  color: #fff;
  height: 100px;
  width: 100%;
}

div.headerimg {
  padding-left: 20px;
}

header h3 {
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 1em;
  padding-top: 0;
}

header b {
  font-weight: 800;
  padding-right: 9px;
}

header h1 {
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 2.6em;
  letter-spacing: 5px;
  line-height: 3px;
}

div.header {
  position: relative;
  top: -105px;
  left: 120px;
}

.menu-icon {
  padding-right: 30px;
}

#menu-links {
  display: none;
  float:right;
  margin-top: 0;
}
/*Style rules for footer*/

.footer {
  position:absolute;
  width: 100%;
  background-color: #006448;
}

footer {
font-size: .8em;
position:absolute;
bottom: 0;
width: 100%;
background-color: #006448;
}

/* Style rules for form content*/


    /*online class openings form content*/



article fieldset {
  border-style: none;
}

.key {
  width: 70%;
  margin-top: 10%;
  margin-left: 100px;
  border: none;
  border-radius: 5px;
  background-color: #c6ddd7;
  padding-bottom: 6px;
}

.key p {
  padding-top: 0%;
}

.key h2{
  font-family: sans-serif;
  font-size: 1.15em;
  font-weight: 500;
  padding-left: 20px;
  padding-top: 10px;
  color: #000;
}

#onlineclassopeningform select {
  width: 74.5%;
}

#onlineclassopeningform label {
  padding-left: 30px;
}

#onlineclassopeningform input {
  margin-left: 38px;
  border-width: 1px;
  border-radius: 5px;
}

#canvasscreen {
  filter: drop-shadow(4px 4px 8px #191919);
}

    /*class openings form content*/

#classopeningsform1 label, #onlineclassopeningform label {
  display: inline-block;
  font-family: sans-serif;
  font-size: .9em;
  font-weight: 600;
  color: #000;
  float: left;
  padding-top: 3px;
}

#classopeningsform1 select, #onlineclassopeningform select {
  display: inline-block;
  padding: 3px;
  margin-left: 180px;
  margin-top: -15px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #000;
  float: left;
}

#classopeningsform1 select {
  width: 70%;
}

#classopeningsform1 .btn2, #onlineclassopeningform .btn2 {
  background-color: #006448;
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  border: none;
  float: right;
  padding: 8px;
  margin-right: 60px;
  margin-top: 10px;
  margin-bottom: 30px;
}

#classopeningsform1 fieldset {
  background-color: #fff;
  border: none;
  margin-left: 30px;
  padding-bottom: 25px;
}

input[type=submit], input[type=search] {
  display: inline;
  background-color: #fff;
  border-radius: 5px;
}

input[type=button] {
  display: inline;
  background-color: #fff;
  border-radius: 5px;
  margin-top: 5px;
  font-size: .8em;
}

#classopeningsform2 label {
  display: inline;
  font-family: sans-serif;
  font-size: .8em;
  font-weight: 400;
  color: #fff;
  padding: 0;
}

#classopeningsform2 input[type=text] {
  margin: auto;
  width: 52%;
  border-radius: 5px;
  border: none;
}

#classopeningsform2 .btn3 {
  font-size: .8em;
  float: right;
  margin: auto;
}

#classopeningsform2 fieldset {
  width: 95%;
  border: none;
  border-radius: 5px;
  padding: 12px;
  background-color: #006448;
  margin: 18px;
}

/* Style rules for home page menu*/

.homegrid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 25px;
    padding-top: 30px;
    padding-bottom: 180px;
}

.frame {
    position: relative;
    background-color: #fff;
    box-shadow: 10px 10px 20px #4A3D35;
    margin: 2% auto;
}

.hometext {
    position: absolute;
    bottom: 0;
    color: #006448;
    width: 100%;
    padding: 5px;
    padding-bottom: 20px;
    text-align: center;
    font-family: sans-serif;
    font-size: 2em;
    font-weight: bold;
}

/* Style rules for body */
body {
  background-color: #fff;
}

main h1 {
  font-family: sans-serif;
  font-size: 2em;
  font-weight: normal;
  padding-left: 20px;
  padding-top: 35px;
  color: #696969;
}

main h2 {
  font-family: sans-serif;
  font-size: 1.2em;
  font-weight: normal;
  padding-left: 20px;
  padding-top: 10px;
  color: #000;
}

main h3, form h3 {
  font-family: sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: #000;
  padding-left: 30px;
}

p {
  font-family: sans-serif;
  font-size: .8em;
  padding-left: 30px;
}

dl {
  font-family: sans-serif;
  font-size: .8em;
  padding-left: 50px;
}

article p {
  padding-top: 80px;
}

article.criteria, article.onlineclassopenings {
  display: inline-block;
  float: left;
  width: 60%;
  margin-right: 50px;
}

article.criteria h3, article.onlineclassopenings h3 {
  border-bottom: 1px solid #000;
  width: 90%;
  padding: 0px;
  margin-left: 30px;
}

article.quicksearch {
  margin-top: 78px;
  padding-right: 40px;
  float: left;
  width: 30%;
  border: none;
  border-radius: 5px;
  background-color: #C6DDD7;
}

article.quicksearch h3 {
  margin-left: -13px;
  margin-bottom: -10px;
  margin-top: 10px;
  font-size: 1.15em;
  font-weight: 500;
}

#checkAppform label{
  display: inline;
  font-family: sans-serif;
  font-size: .8em;
  font-weight: 400;
  color: #fff;
  padding: 0;
}
#checkAppform  input[type=text] {
  margin: auto;
  width: 45%;
  border-radius: 5px;
  border: none;
}

#checkAppform .btn3 {
  font-size: .8em;
  float: right;
  margin: auto;
}

#checkAppform fieldset {
  width: 95%;
  border: none;
  border-radius: 5px;
  padding: 12px;
  background-color: #006448;
  margin: 18px;
}

/* Style rules for mobile viewport */

  /* Style rule for header content */
  header {
    top: 0;
    background-color: #006448;
    padding-left: 10px;
  }

  /* Style rules for hamburger menu */
  .mobile-nav a {
    color: #fff;
    font-family: "Francois One", sans-serif;
    text-align: center;
    font-size: 2em;
    text-decoration: none;
    padding: 3%;
    display: block;
    float: right;
  }

  .mobile-nav a.menu-icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    float:right;
  }




/* Hide tab-desk class */
.tab-desk {
  display: none;
}

/* Media Query for Tablet Viewport */
@media screen and (min-width: 630px), print {





/* Media Query for Desktop Viewport */
@media screen and (min-width: 1015px), print {

  /* Desktop Viewport: Style rule for header */

header img {
  padding: 10px;
  background-color: #006448;
}

header {
  background-color: #006448;
  padding-top: 0;
}


/*Style rules for hamburger menu*/
nav a {
  text-decoration: none;
  color: #fff;
  background-color: #006448;
  display: block;
}

nav ul {
  list-style-type: none;
  text-align: left;
}

nav a .menu-icon {
  display: block;
  position: absolute;
  float: right;
  right: .2em;
  top: 0;
  color: white;
  font-size: 3.5em;
}


/*Style rules for footer content*/

footer {
  background-color: #006448;
}

footer .copyright {
  font-size: 1em;
  text-align: left;
  color: #fff;
  float:right;
  width:90%;
  height: 5em;
  padding-top: 3.5em;
  background-color: #006448;
}

footer .totopbutton {
  float: left;
  text-align: center;
  background-color: #006448;
  padding: 2% 2%;
}

}
