body, header, nav, main, footer, h1{
    margin: 0;
    padding: 0;
    border: 0;
}

#menu-links {
  display: none;
}

/* Style rules for body */
body{
    background-color: #fff;
}

header img {
    margin: 0 auto;
    background-color: #006747;
}

header{
    background-color: #006747;
}
/*Style rules for hamburger menu*/
nav a.menu-icon {
  display:block;
  position: absolute;
  right: 0;
  top: 0;
  color: white;
}
