body, header, nav, main, footer, h1{
    margin: 0;
    padding: 0;
    border: 0;
}

#menu-links {
  display: none;
  float:right;
  margin-top: 0;
}

/* Style rules for body */
body{
    background-color: #fff;
}

/* Media Query for Desktop Viewport */
@media screen and (min-width: 1015px), print {

  /* Desktop Viewport: Style rule for header */


header img {
    margin-top: : 0;
    background-color: #006448;

}

header {
    background-color: #006448;
    padding-top: 0;


}


/*Style rules for hamburger menu*/
nav a {
  text-decoration: none;
  color: #fff;
  background-color: #006448;
  display: block;
}

nav ul {
  list-style-type: none;
  text-align: left;
}

nav a.menu-icon {
  display: block;
  position: absolute;
  right: .2em;
  top: 0;
  color: white;
  font-size: 3.5em;
}


/*Style rules for footer content*/
footer {

    background-color: #006448;
    height: 8em;
    margin-top: 19em;


}

footer .copyright {
    font-size: 1em;
    text-align: left;
    color: #fff;
    float:right;
    width:90%;
    height: 5em;
    padding-top: 1em;


}

footer .totopbutton {
    float: left;
    text-align: center;
    background-color: #006448;
    padding: 2% 2%;




}
}

/* Style rules for mobile viewport */
/* Style rule for header */
header {
  top: 0;
  background-color: #006448;


}

header img {
  margin: 0 auto;
  height: 3em;
  width: 85%;
}

/* Style rules for hamburger menu */
.mobile-nav a {
  color: #fff;
  font-family: "Francois One", sans-serif;
  text-align: center;
  font-size: 2em;
  text-decoration: none;
  padding: 3%;
  display: block;
  float: right;
}

.mobile-nav a.menu-icon {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  float:right;
}
